body {
  background-color: rgb(235, 189, 189);
}

.keys {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15%;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(235, 189, 189);
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.25), -2px -2px 4px 0 rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  height: 50px;
  margin-right: 4rem;
  width: 50px;
  transition: all 5s;
  /* border-style: outset; */
}

.pressed {
  transform: scale(1.05);
  box-shadow: inset 4px 4px 6px 0 rgba(0, 0, 0, 0.25),
  inset -2px -2px 4px 0 rgba(255, 255, 255, 0.5);
}
}

kbd {
  font-size: 18px;
}

span {
  font-size: 14px;
}
