body {
  background-color: #6e7ab3;
}

.keys {
  display: flex;
  align-items: center;
  justify-content: center;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #6e7ab3;
  box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25), -4px -4px 6px 0 rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  height: 50px;
  margin-right: 4rem;
  width: 50px;
}
