body {
  background-color: #222831;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0em;
}

html {
  height: 100%;
}
.clock {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  border: 10px solid white;
  padding: 20px;
  position: relative;
  box-shadow: inset 0 0 20px #000000;
}

.hour-hand {
  background: white;
  width: 4px;
  height: 10rem;
  position: absolute;
  right: 50%;
  margin-top: 5rem;
  transform-origin: bottom;
}

.min-hand {
  background: white;
  width: 4px;
  height: 13rem;
  position: absolute;
  right: 50%;
  margin-top: 2rem;
  transform-origin: bottom;
}

.second-hand {
  background: red;
  width: 3px;
  height: 15rem;
  position: absolute;
  right: 50%;
  transform-origin: bottom;
}

.point {
  background: red;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  top: 49%;
  right: 49%;
}

.transition {
  transition: all 0.07s;
  transition-timing-function: cubic-bezier(0.29, 1.98, 0.68, 0.99);
  /* to look like a real clock bouncing back */
}
