body {
  background-color: rgb(235, 189, 189);
}
.container {
  display: flex;
  justify-content: center;
}

.keys {
  height: 10rem;
  width: 25rem;
  border-style: solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 189, 189);
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.25), -2px -2px 4px 0 rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  height: 50px;
  margin: 1rem;
  width: 50px;
  transition: all 0.12s;
  /* border-style: outset; */
}

.pressed {
  transform: scale(1.05);
  box-shadow: inset 4px 4px 6px 0 rgba(0, 0, 0, 0.25),
    inset -2px -2px 4px 0 rgba(255, 255, 255, 0.5);
}

p {
  text-align: center;
}

kbd {
  font-size: 18px;
}

span {
  font-size: 14px;
}
